<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <title>{% block title %}{% endblock %}</title>
  {% block extra_css %} {% endblock %}
</head>
<body>
<div class="header">
    <center>
        <div class="banner">
            <pre style="color: crimson;">

                                       &#10084;
 ▄▄▄▄    ▄▄▄      ▓█████▄     ██ ▄█▀ ██▓▄▄▄█████▓▄▄▄█████▓▓██   ██▓
▓█████▄ ▒████▄    ▒██▀ ██▌    ██▄█▒ ▓██▒▓  ██▒ ▓▒▓  ██▒ ▓▒ ▒██  ██▒
▒██▒ ▄██▒██  ▀█▄  ░██   █▌   ▓███▄░ ▒██▒▒ ▓██░ ▒░▒ ▓██░ ▒░  ▒██ ██░
▒██░█▀  ░██▄▄▄▄██ ░▓█▄   ▌   ▓██ █▄ ░██░░ ▓██▓ ░ ░ ▓██▓ ░   ░ ▐██▓░
░▓█  ▀█▓ ▓█   ▓██▒░▒████▓    ▒██▒ █▄░██░  ▒██▒ ░   ▒██▒ ░   ░ ██▒▓░
░▒▓███▀▒ ▒▒   ▓▒█░ ▒▒▓  ▒    ▒ ▒▒ ▓▒░▓    ▒ ░░     ▒ ░░      ██▒▒▒ 
▒░▒   ░   ▒   ▒▒ ░ ░ ▒  ▒    ░ ░▒ ▒░ ▒ ░    ░        ░     ▓██ ░▒░ 
 ░    ░   ░   ▒    ░ ░  ░    ░ ░░ ░  ▒ ░  ░        ░       ▒ ▒ ░░  
 ░            ░  ░   ░       ░  ░    ░                     ░ ░     
      ░            ░                                       ░ ░</pre>
        </div>
    </center>
</div>
{% block content %} {% endblock %}
</body>
<script src="{% static 'js/jquery.min.js' %}"></script>
{% block js_scripts %} {% endblock %}
</html>
