{% extends 'index.html' %}
{% load static %}
{% block extra_css %} 
<link rel="stylesheet" href="{% static 'css/panel.css' %}" />
{% endblock %}
{% block title %} 
    Control Panel 
{% endblock %}
{% block content %}
<div class="main-panel">
    <div class="panel-monitor-controls">
    </div>
</div>
<div class="main-panel">
    <div class="panel-monitor">
        <div class="panel-buttons">
            <div class="monitor-control">
                <button id="on">On</button>
                <button id="off">Off</button>
            </div>
            <div class="monitor-control">
                <form id="add-blog">
                    {% csrf_token %}
                    <label for="blog">Add</label>
                    <input name="blog" type="url" placeholder="http://blog.bdsml.com"/>
                    <button type="submit">send</button>
                </form>
            </div>
            <div class="monitor-control">
                <form id="delete-blog">
                    {% csrf_token %}
                    <label for="blog-delete">Del</label>
                    <input name="blog-delete" type="number" placeholder="Blog ID, eg: 0"/>
                    <button type="submit">send</button>
                </form>
            </div>
            <div class="panel-button">
                <button id="refresh-feed-stats">
                    Refresh Feed Stats
                </button>
            </div>
        </div>
        <pre id="feed-stats"></pre>
    </div>
    <div class="panel-monitor">
        <div class="panel-buttons">
            <div class="monitor-control">
                <button 
                    id="migrate-images-from-feed">
                    Migrate Feed Images
                </button>
                <button id="publish">Submit to Publisher</button>
            </div>
        </div>
        <ul class="dirty-images-list">
            {% for image in images %}
            <li class="dirty-image-list-item">
                <img class="dirty-image" src="{{ image.image.url }}" />
                <br>
                <button class="panel-button-button">To Fetlife</button>
                <label 
                    style="background: black; padding: 3px; color: white; border: 1px solid white;" 
                    for="upload-check-{{image.pk}}">Tag for publish.</label>
                <input 
                    class="tagged-upload" 
                    name="upload-check-{{ image.pk}}" 
                    type="checkbox" value="{{image.pk}}"/>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
{% block js_scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        function feedStats() {
            $.get({
                url : "{% url 'manager:feed_stats' %}",
                success: function(response) {
                    $("#feed-stats").text(
                        JSON.stringify(
                            response.message,
                            null,
                            2
                        )
                    )
                },
                error: function(response) {
                    alert(response.responseJSON.message.error)
                }
            })
        }
        function getFeedBlogs() {
            $.get({
                url : "{% url 'manager:blogs' %}",
                success: function(response) {
                    $("#loaded-blogs").text(
                        JSON.stringify(
                            response.message.status,
                            null,
                            2
                        )
                    )
                },
                error: function(response) {
                    alert(response.responseJSON.message.error)
                }
            })
        }
        function addBlog(e) {
            e.preventDefault();
            $.post({
                url : "{% url 'manager:blogs' %}",
                data : {"blog" : $("input[name='blog']").val()},
                headers: {"X-CSRFToken" : "{{ csrf_token }}"},
                success: function(response) {
                    feedStats();
                },
                error: function(response) {
                    console.log(response.responseJSON.message.error)
                }
            })
        }
        function deleteBlog(e) {
            e.preventDefault();
            $.ajax({
                url : "{% url 'manager:blogs' %}"+"?blog_id="+$("input[name='blog-delete']").val(),
                headers: {
                    "X-CSRFToken" : "{{ csrf_token }}",
                    "Content-Type" : "application/json"
                },
                type: "delete",
                success: function(response) {
                    feedStats(); 
                },
                error: function(response) {
                    alert(response.responseJSON.message.error)
                }
            })
        }
        function switchOn(e) {
            e.preventDefault();
            $.post({
                url : "{% url 'manager:feed_switch' %}",
                data : {"status" : "on"},
                headers: {"X-CSRFToken" : "{{ csrf_token }}"},
                success: function(response) {
                    feedStats();
                },
                error: function(response) {
                    alert(response.responseJSON.message.error)
                }
            })
        }
        function switchOff(e) {
            e.preventDefault();
            $.post({
                url : "{% url 'manager:feed_switch' %}",
                data : {"status" : "off"},
                headers: {"X-CSRFToken" : "{{ csrf_token }}"},
                success: function(response) {
                    feedStats();
                },
                error: function(response) {
                    console.log(response)
                }
            })
        }
        function migrateImagesFromFeed(e) {
            e.preventDefault();
            $.post({
                url: "{% url 'manager:trigger_upload' %}",
                headers: {"X-CSRFToken" : "{{ csrf_token }}"},
                success: function(response) {
                    window.reload()
                },
                error: function(response) {
                    console.log(response)
                }
            })
        }
        function main() {
            feedStats();
            $("#migrate-images-from-feed").click(
                migrateImagesFromFeed
            )
            $("#refresh-feed-stats").click(feedStats);
            $("#add-blog").submit(addBlog);
            $("#delete-blog").submit(deleteBlog)
            $("#on").click(switchOn)
            $("#off").click(switchOff)
        }
        main()
    })
</script>
{% endblock %}
